.label {
  padding: 0.2rem;

}

.highlight {
  /* color: limegreen; */
  /* font-weight: bold; */
  color: #3fb923;
}

.alerta {
  color: darkorange;
  /* font-weight: bold; */
}

.centered {
  text-align: center; /* Centra el texto horizontalmente */
}

.carsahigh{
  border-left: 3px solid lightblue; 
  border-right: 3px solid lightblue;
}

.max-price {
  /* text-decoration: underline; */
  text-decoration-thickness: 5px;
  text-decoration-color: red;
  /* color: crimson; */
  color: #c1092c;
  /* font-weight: bold; */
  
}
.best-price{
  /* color: limegreen; */
  color: #3fb923;
  /* font-weight: bold; */
}
.worst-price{
  /* color: crimson; */
  color: #c1092c;
  /* font-weight: bold; */
}
.alert-price {
  color: darkorange;
  /* font-weight: bold; */
}

.kpi-product-positive{
  /* color: #3FB923; */
  /* color: limegreen; */
  font-family: Open , sans-serif;
  direction: ltr;
  font-size: 12px;
  letter-spacing: -.2px;
  display: block;
}
.kpi-product-negative{
  /* color: #3FB923; */
  /* color: crimson; */
  font-family: Open , sans-serif;
  direction: ltr;
  font-size: 12px;
  letter-spacing: -.2px;
  display: block;
}

td, th {
  padding: 0.4rem 0.8rem;
  border-collapse: collapse;
  text-align: left;
}